apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: backend-java
  namespace: argocd
  finalizers:
  - resources-finalizer.argocd.argoproj.io
spec:
  destination:
    namespace: default
    server: https://kubernetes.default.svc
  project: default
  source:
    helm:
      valueFiles:
      - values.yaml
    path: backend-java
    repoURL: https://github.com/ArsenalRegistry/edu3
    targetRevision: HEAD
  syncPolicy:
    {{- .Values.spec.syncPolicy | toYaml | nindent 4 }}
